<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="jquery-3.1.1.min.js"></script>
</head>
<body>
    <h1>登录页</h1>
    用户名：<input type="text" id="userName"/>
    密码：<input type="password" id="password" />
    <input type="button" value="登录"  id="login"/>

    <script>
        $("#login").on("click",function(){
            var data = {
                userName: $("#userName").val(),
                password: $("#password").val()
            }
            $.ajax({
                url:"/api/login",
                data:data,
                method:"post",
                success: function(data){
                    if( data.status === 0 ){
                        //window.location.href = "/users-list"
                    }else{
                        console.log(data.message);
                    }
                },
                error:function(){

                }
            })
        });

    </script>

</body>
</html>