<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/site.min.css">
    <style>
        .content{
            margin-top: 20px;
            background: #f8f8f8;
        }
        .content .container .col-xs-4{
            background: #fff;
        }
    </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand hidden-sm" href="/">好点子</a>
        </div>
        <div class="navbar-collapse collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="hidden-sm hidden-md"><a href="/" target="_blank">首页</a></li>
                <li class="hidden-sm hidden-md"><a href="/" target="_blank">点子用户</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-sm">
                <li><a href="/about/">登录</a></li>
                <li><a href="/about/">注册</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>用户名</th>
                    <th>备注</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr class="active">
                    <td>1</td>
                    <td>leo</td>
                    <td>此用户比较活跃</td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm">删除</button>
                    </td>
                </tr>
                <tr class="active">
                    <td>1</td>
                    <td>leo</td>
                    <td>此用户比较活跃</td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>